jenkins:
  clouds:
    - ecs:
        cluster: {{ECS_CLUSTER_ARN}}
        # Credentials should not be set locally. Use IAM roles assigned to the container.
        credentialsId: False
        regionName: {{AWS_REGION}}
        name: {{STACK_NAME}}
        jenkinsUrl: {{JENKINS_URL}}
        templates:
          - label: fargate-agent
            templateName: fargate-agent
            image: {{SIMPLE_AGENT_IMAGE}}
            launchType: FARGATE
            networkMode: awsvpc
            memoryReservation: 2048
            cpu: 1024
            subnets: {{SUBNET_IDS}}
            securityGroups: {{SECURITY_GROUP_IDS}}
            executionRole: {{EXECUTION_ROLE_ARN}}
            taskrole: {{TASK_ROLE_ARN}}
            logDriver: awslogs
            logDriverOptions:
              - name: awslogs-region
                value: {{AWS_REGION}}
              - name: awslogs-group
                value: {{LOG_GROUP}}
              - name: awslogs-stream-prefix
                value: {{LOG_STREAM_PREFIX}}
            tags:
            # TODO: Inject from CDK
            - name: Department
              value: "501"
            - name: DevTeam
              value: Voyager
            - name: Environment
              value: Development
          - label: external
            templateName: external
            # image: {{SIMPLE_AGENT_IMAGE}}
            taskDefinitionOverride: {{EXTERNAL_AGENT_TASK_DEF}}
            agentContainerName: jnlp
            launchType: FARGATE
            networkMode: awsvpc
            subnets: {{SUBNET_IDS}}
            securityGroups: {{SECURITY_GROUP_IDS}}
            executionRole: {{EXECUTION_ROLE_ARN}}
            taskrole: {{TASK_ROLE_ARN}}
            logDriver: awslogs
            logDriverOptions:
              - name: awslogs-region
                value: {{AWS_REGION}}
              - name: awslogs-group
                value: {{LOG_GROUP}}
              - name: awslogs-stream-prefix
                value: {{LOG_STREAM_PREFIX}}
            tags:
            - name: Department
              value: "501"
            - name: DevTeam
              value: Voyager
            - name: Environment
              value: Development
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: {{ADMIN_USERNAME}}
         password: {{ADMIN_PASSWORD}}
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true
  numExecutors: 0
